extends base

block content 
    if errorMessage 
        span.error-message=errorMessage
    form(method="Post" autocomplete='off')
        input(name="userId" type="text" required placeholder="아이디" )
        input(name="password" type="password" required placeholder="비밀번호")
        input(type="submit" value="로그인")
        include partials/social-login
    div.auth-switch
        span 아직 계정이 없으신가요? 
        a(href="/join") 회원가입 &rarr; 