extends ../base

block content 
    if errorMessage 
        span=errorMessage
    form(method="POST" )
        input(name="oldPW" type="password" placeholder="Old Password")
        input(name="newPW" type="password" placeholder="New Password")
        input(name="checkPW" type="password" placeholder="Check New Password")
        input(type="submit" value="Change Password")